<div class="author">
  <span class="author-span">Author </span>: {{quote.name}}
</div>
<div class="post">
  post by: {{quote.author}}
</div>
<div class="time-count">
  Time since post :{{quote.completeDate | dateCount}}
</div>
<div class="votes">
  <button class="btn btn-sm btn-info" (click)="likes()">
    {{ quote.likes }} Upvote
  </button>
  
  <button class="btn btn-sm btn-light" (click)="dislikes()">
    {{ quote.dislikes }} Downvote
  </button>
</div>
<div class="deleteButton">
  <button (click)='quoteDelete(true)' class="btn btn-sm btn-outline-dark">Delete Quote</button>
</div>
